@import "tailwindcss/base";

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    width: 100%;
}

#__nuxt {
    display: flex;
    width: 100%;
}

@import "tailwindcss/components";

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
    @apply px-2 py-2 rounded font-bold uppercase tracking-widest text-xl sm:text-2xl border-2 border-transparent transition-colors
}

.btn-white {
    @apply bg-white text-black hover:bg-gray-100
}

.btn-white-outline {
    @apply border-white hover:bg-white hover:text-black
}

.slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-3 h-3 rounded-full bg-gradient-to-r from-[#fc466b] to-[#3f5efb] cursor-pointer;
  }
  
.slider-thumb::-webkit-slider-thumb:hover {
@apply from-[#3f5efb] to-[#fc466b] ;
}

.icon-button {
    @apply opacity-50 hover:opacity-100
}

@import "tailwindcss/utilities";